body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
      background-color: black;
}

nav{
    width: 100%;
    background: black;

}
ul{
    width: 80%;
    margin: 0 auto;
    padding: 0  ;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 20px;
     position: relative;
      
}
ul li:hover{
    background:#fd79a8;
   color: #e84393;
   box-shadow: 0 0 10px #fd79a8, 0 0 40px #fd79a8, 0 0 80px #fd79a8;
   transition-delay: 10ms ;

}
header{
    background: black;
}

ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.toggle{
    width: 100%;
    padding: 10px 20px;
    background: #34495e ;
    text-align: right;
    box-sizing: border-box;
     color: white;
     font-size: 30px;
     display: none; 
}








/* //////////////////////RESPONSVE//////////////////////////*/
@media(max-width:800px)
{
    .toggle{
        display: block;  
    }

    ul{
     width: 100%;
     display: none;;
       
}
    ul li{
    display:  block; 
    text-align: center;
     
}
    .active{
        display: block;
    }
}